.head{
    width: 100%;
    border-top: 30px solid green;
}
.mid{
  width:100%;
  background-color:#189a18;
  padding-bottom: 15px;
}
h1{
    color:white;
    padding-top:2%;
    padding-left:20px;
    font-family: 'Roboto', sans-serif;
}
.footer{
  border-top: 90px solid #189a18;
   margin-top:100px;
}
.form{
  width: 700px;
  border:1px black;
  border-style: groove;
  padding: 40px;
  margin: 30px;
}
.box{
  padding-left: 28.5%;
}
.boxx{
  width:700px;
  border:1px  black;
  border-style: groove;
  padding:5px;
  margin:2px;
}
.midd{
  padding-left: 30%;
}
.h4{
  font-weight: bold;
}
.form-group{
  padding:5px;
  padding-left: 30px;
}
.btn{
  padding:10px;
  border-radius: 5px;
}
.check{
  padding-bottom: 10px;
}
input[type="text"] {
    width: 300px;
    height:35px;
}
input[type="password"] {
    width: 300px;
    height:35px;
}
input[type="submit"] {
    width: 300px;
    height:45px;
    padding-left: 10px;
    text-align: center;
}
.header{
  width:100%;
  background-color:green;
  padding-bottom: 20px;
}
#footer{
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: green;
}
.outing-box{
  display: inline-block;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.index1_body{
  display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}
.card-side{
  display:flex;
    margin-top: 100px;
    margin-left: 50px;
}
.card_{
  margin-left: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 46px;
  text-decoration: none;
}

/* li a:hover {
  background-color: #555d50;
  color:white;
} */
.nav{
  border-style: solid;
   border-color: #3CB371;
}
.h2{
  text-align: center;
  margin:10px;
  padding-bottom: 20px;
}
.container {
  display: flex;
  justify-content: center;
}
.pad{
  padding-left:50px;
}
.carousel-inner > .item > img {
  width:640px;
  height:360px;
}
.table,.td{
  /* padding-top:10px; */
  border: 1px solid black;
  border-collapse: collapse;
}
input[type="email"] {
    width: 300px;
    height:35px;
}
.footer2{
    border-top: 90px solid #189a18;
     margin-top:19.5%;
}
.para{
  margin:20px;
}
