<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Leave</title>
    <!-- bootstrap -->
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/style.css">
      <link rel="icon" type="image/x-icon" href="static/favicon.ico">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="login">
      <div class="head">
</div>
      <div class="header">
        <h1 >Leave</h1>
      </div>
      <nav class="navbar navbar-expand-lg nav">

              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <ul class="navbar-nav s">
                    <li class="nav-item pad"><a class="nav-link" href="{{ url_for('set') }}"><img src="static/home.jpeg" width="30" height="24" alt="">Home</a></li>
                    <li class="nav-item pad"><a class="nav-link" href="{{ url_for('guess') }}"><img src="static/dashboard.png" width="24" height="20" alt=""> Dashboard</a></li>
                    <li class="nav-item pad"><a class="nav-link" href="{{ url_for('outing') }}">Outing</a></li>
                    <li class="nav-item pad"><a class="nav-link" href="{{ url_for('leave') }}">Leave</a></li>
                    <li class="nav-item pad"><a class="nav-link" href="{{ url_for('rules') }}">Rules</a></li>
                    <li class="nav-item pad"><a class="nav-link" href="https://www.iiitkottayam.ac.in/">itsupport@iiitkottayam.ac.in</a></li>
                    <li class="nav-item pad"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                </ul>
            </div>
      </nav>
    </div>

        <div class="container">

    <form class="registration-form"action="/leave" method="post">
      <table style="width:150%">
        <h2 class="h2">Student Leave Application Form</h2>
        <tr height="50px">
      <td><label>Name of the student:</label></td>
      <td><input type="text" name="name" placeholder="Name" required /></td>
      </tr>
      <tr height="50px">
      <td><label>RollNumber:</label></td>
      <td><input type="text" name="Rollnumber" placeholder="RollNumber" required /></td>
      </tr>
      <tr height="50px">
      <td><label>Course and semster:</label></td>
      <td><input type="text" placeholder="course and semester" name="coursem" required /></td>
    </tr>
    <tr height="50px">
      <td><label>HostelName:</label></td>
      <td><input type="text" placeholder="HostelName" name="hostel"required/></td>
      </tr>
      <tr height="50px">
        <td><label>Home Address:</label></td>
        <td><textarea name="homeaddress" rows="3" cols="40" required></textarea></td>
        </tr>
      <tr height="50px">
      <td><label>Room No:</label></td>
    <td><input type="text" placeholder="RoomNo" name="roomno"required /></td>
      </tr>
      <tr height="50px">
      <td><label>Phone number</label></td>
      <td><input type="text" placeholder="Phone number" name="phonenumber"required /></td>
      </tr>
      <tr height="50px">
      <td><label>Parent phonenumber</label></td>
      <td><input type="text" placeholder="ParentPhoneNumber" name="parentphoneNumber"required /></td>
      </tr>
      <tr height="50px">
      <td><label>Email:</label></td>
      <td><input type="email" placeholder="Email" name="email"required /></td>
      </tr>
      <tr height="50px">
        <td><label>Purpose of Leave:</label></td>
        <td><textarea name="purposeof" rows="3" cols="40" required></textarea></td>
        </tr>
        <tr height="50px">
          <td><label>No of days of Leave:</label></td>
          <td><input type="text" placeholder="No of days of Leave" name="noofdays"required/></td>
          </tr>
          <tr height="50px">
            <td><label>Reason:</label></td>
            <td><br>
  <input type="radio" id="marriage" name="Reason" value="Relatives marriage">
  <label for="marriage">Relatives marriage</label>
  <input type="radio" id="health" name="Reason" value="Health Issues">
  <label for="Health">Health Issues</label>
  <input type="radio" id="other" name="Reason" value="Other">
  <label for="Other">Other</label><br><br>
</td>
            </tr>


          <tr height="50px">
            <td><label>Duration of leave:</label></td>
            <td>From <input type="date"name="From"required/>  To <input type="date" name="To"required/></td>
            </tr>
      <tr height="50px">
      <td><label>Outime:</label></td>
      <td><input type="time" placholder="outtime" name="outtime"required /></td>
      </tr>
      <tr height="50px">
      <td><label>Intime:</label></td>
      <td><input type="time" placholder="intime" name="intime"required /><br><br></td>
      </tr>
      <tr height="50px">
        <td><label>Upload File:</label></td>
        <td><input type="file"name="file"required/></td>
        </tr>
      <tr>
        <td></td>
        <td><input type="checkbox" required />I have read and agree to the <a href="{{url_for('rules')}}">rules</a></td>
      </tr>
      <tr height="50px">
      <td  colspan="2"><input type="submit" value="submit" /></td>
      </tr>
      </table>
    </form>
      </div>
      <footer>
        <div class="footer">

        </div>
      </footer>
  </body>
</html>
